/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
    font-family: 'Bebas Neue', cursive;
}
@media (min-width: 992px){
    .navbar{
        padding-left: 100px;
        padding-right: 100px;
    }
}